<!DOCTYPE html>
<html>
<%- include('partials/head', {title: title}) %>
  <body>
    <%- include('partials/header') %>
    <main>
      <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
      <h1><%= title %></h1>
      <p>Bienvenidos a <%= title %></p>
    </main>
  </body>
</html>