<header>
    <div class="titulo">
      <a class="link-home" href="/">Quiero La Película</a>
    </div>
    <nav class="burger-menu">
      <input class="check" type="checkbox" id="menu">
      <label class="burger" for="menu"> ☰ </label>
      <ul>
        <li><a class="link-menu" href="/movies">Listado de Películas</a></li>
        <li><a class="link-menu" href="/movies/new">Estrenos</a></li>
        <li><a class="link-menu" href="/movies/recommended">Películas Recomendadas</a></li>
        <li><a class="link-menu" href="/movies/add">Crear registro de película</a></li>
      </ul>
    </nav>
</header>