<div class="buscador">
    <form id="form-search" action="/movies/search">
        <input id="search" type="search" name="keywords" placeholder="Busca tu película aquí...">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>