<div class="buscador">
    <form action="/movies/search">
        <input type="search" name="keywords" placeholder="Busca tu película aquí...">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>